body {
	font-family: 'Roboto';
}
button {
	float: right;
	font-size: 25px;
	background-color: #ffffff;
	width: 150px;
	font-family: 'Roboto';
	font-weight: 100;
	border-width: 0px;
	
}
header {
	height: 60px;
	margin: 0px;
	}

ul {
	list-style: none;
	display: block;
}
textarea {
	font-size: 16px;
	font-family: 'Roboto';
	border-width: 2px;
	padding: 25px;
	text-align: center;

}
.title {
	height: 150px;
	border-bottom: solid;
	
	text-align: center;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 10px;
	word-spacing: .5em;
	margin: 0px;
	display: block;
	background-image: url(images/green.png);
	background-size: 5px 5px;
	border-bottom-width: 2px;


}
.list {
	float: left;
	height: 850px;
	text-indent: 150px;
	border-right: solid;
	border-width: 2px;
	font-size: 18px;
	font-weight: lighter;
	text-transform: lowercase;
	padding-top: 50px;

}
.list h2 {
	/*background-image: url(images/square.png);
	background-size: 5px 5px;*/
	position: relative;
	font-size: 35px;
	width: 300px;
	top: 15px;
	line-height: 1.3em;
	text-indent: 100px;
	text-transform: uppercase;
	background-image: url(images/green.png);
	background-size: 5px 5px;
	
		
}

.form {
	width: 382px;
	margin-left: 500px;

}
button:hover{
	background-color: #AEE3BA;
	cursor: pointer;
	}